<div class="container">
    <nz-card class="shadow">
        <div nz-row>
            <div nz-col nzSpan="20">
                <div nz-row>
                    <h5 nz-typography nz-col nzSpan="24">Pending Reminder Setting</h5>
                    <div nz-col nzSpan="24" nz-typography nzType="secondary">You can set pending reminder schedule
                        according to role. </div>
                </div>
            </div>
            <div nz-col nzSpan="4" class="end">
                <div class="end" nz-typography nzType="danger">
                    <div>
                        <nz-icon nzType="edit" nzTheme="outline" class="margin-x" /> Edit
                    </div>
                </div>
            </div>
        </div>

        <form nz-form [formGroup]="pendingReminderSettingForm">
            <div nz-row [nzGutter]="16">
                <div nz-col [nzSpan]="12">
                    <div class="role">
                        <div>
                            <nz-form-label nzRequired>Role</nz-form-label>
                        </div>
                        <div>
                            <nz-select nzPlaceHolder="Please Select" class="input" formControlName="role">
                                <nz-option nzLabel="Admin" nzValue="Admin"></nz-option>
                                <nz-option nzLabel="Head" nzValue="Head"></nz-option>
                                <nz-option nzLabel="Branch Manager" nzValue="Branch Manager"></nz-option>
                                <nz-option nzLabel="Engineer" nzValue="Engineer"></nz-option>
                                <nz-option nzLabel="Developer" nzValue="Developer"></nz-option>
                                <nz-option nzLabel="Sales" nzValue="Sales"></nz-option>
                                <nz-option nzLabel="Project Consultant" nzValue="Project Consultant"></nz-option>
                                <nz-option nzLabel="Team Leader" nzValue="Team Leader"></nz-option>
                                <nz-option nzLabel="Intership" nzValue="Intership"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div class="email-sending-day">
                        <div>
                            <nz-form-label nzRequired>Email Sending Day</nz-form-label>
                        </div>
                        <div>
                            <nz-select nzPlaceHolder="Please Select" class="input" formControlName="emailSendingDay">
                                <nz-option nzLabel="Sunday" nzValue="Sunday"></nz-option>
                                <nz-option nzLabel="Monday" nzValue="Monday"></nz-option>
                                <nz-option nzLabel="Tuesday" nzValue="Tuesday"></nz-option>
                                <nz-option nzLabel="Wednesday" nzValue="Wednesday"></nz-option>
                                <nz-option nzLabel="Thursday" nzValue="Thursday"></nz-option>
                                <nz-option nzLabel="Friday" nzValue="Friday"></nz-option>
                                <nz-option nzLabel="Saturday" nzValue="Saturday"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div class="enable-email-schedule">
                        <div>
                            <nz-form-label nzRequired>Enable Email Schedule</nz-form-label>
                        </div>
                        <div>
                            <nz-switch [nzControl]="true" (click)="toggleSwitch('emailScheduleEnable')"
                                formControlName="emailScheduleEnable"></nz-switch>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="12">
                    <div class="tran-week">
                        <div>
                            <nz-form-label nzRequired>Transaction Week</nz-form-label>
                        </div>
                        <div>
                            <nz-select nzPlaceHolder="Select Value" class="input" formControlName="tranWeek">
                                <nz-option nzLabel="1 week" [nzValue]="'1'"></nz-option>
                                <nz-option nzLabel="2 weeks" [nzValue]="'2'"></nz-option>
                                <nz-option nzLabel="3 weeks" [nzValue]="'3'"></nz-option>
                                <nz-option nzLabel="4 weeks" [nzValue]="'4'"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div class="email-sending-time">
                        <div>
                            <nz-form-label nzRequired>Email Sending Time</nz-form-label>
                        </div>
                        <div>
                            <nz-select nzPlaceHolder="Select Value" class="input" formControlName="emailSendingTime">
                                <nz-option nzLabel="09:10 AM" nzValue="09:10 AM"></nz-option>
                                <nz-option nzLabel="09:40 AM" nzValue="09:40 AM"></nz-option>
                                <nz-option nzLabel="10:00 AM" nzValue="10:00 AM"></nz-option>
                                <nz-option nzLabel="10:30 AM" nzValue="10:30 AM"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div class="enable-viber-schedule">
                        <div>
                            <nz-form-label nzRequired>Enable Viber Schedule</nz-form-label>
                        </div>
                        <div>
                            <nz-switch [nzControl]="true" (click)="toggleSwitch('viberScheduleEnable')"
                                formControlName="viberScheduleEnable"></nz-switch>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="24" class="end margin-y">
                    <button nz-button nzType="default" class="margin-x" (click)="reset()">Cancel</button>
                    <button nz-button nzType="primary" nzDanger class="margin-x" (click)="update()">Update</button>
                </div>
            </div>
        </form>
    </nz-card>
</div>