<div class="container">
    <nz-card class="shadow">
        <div nz-row>
            <div nz-col nzSpan="20">
                <div nz-row>
                    <h5 nz-typography nz-col nzSpan="24">Password Setting</h5>
                    <div nz-col nzSpan="24" nz-typography nzType="secondary">You can change password for the system.
                    </div>
                </div>
            </div>
            <div nz-col nzSpan="4" class="end">
                <div class="end" nz-typography nzType="danger">
                    <div>
                        <nz-icon nzType="edit" nzTheme="outline" class="margin-x" /> Edit
                    </div>
                </div>
            </div>
        </div>

        <form nz-form [formGroup]="passSettingForm">
            <div nz-row [nzGutter]="16">
                <div nz-col [nzSpan]="24">
                    <div class="current-pass">
                        <div>
                            <nz-form-label nzRequired>Current Password</nz-form-label>
                        </div>
                        <div>
                            <!-- <input type="password" nz-input class="input" formControlName="currentPass"
                                placeholder="Enter current password" /> -->

                            <nz-input-group [nzSuffix]="suffixTemplate">
                                <input [type]="passwordVisible ? 'text' : 'password'" nz-input
                                    placeholder="Enter current password" formControlName="currentPass" />
                            </nz-input-group>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="12">
                    <div class="new-pass">
                        <div>
                            <nz-form-label nzRequired>New Password</nz-form-label>
                        </div>
                        <div>
                            <nz-input-group [nzSuffix]="suffixTemplate">
                                <input [type]="passwordVisible ? 'text' : 'password'" nz-input
                                    placeholder="Enter new password" formControlName="newPass" />
                            </nz-input-group>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="12">
                    <div class="confirm-pass">
                        <div>
                            <nz-form-label nzRequired>Confirm Password</nz-form-label>
                        </div>
                        <div>
                            <nz-input-group [nzSuffix]="suffixTemplate">
                                <input [type]="passwordVisible ? 'text' : 'password'" nz-input
                                    placeholder="Enter confirm password" formControlName="confirmPass" />
                            </nz-input-group>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="24" class="end margin-y">
                    <button nz-button nzType="default" class="margin-x" (click)="reset()">Cancel</button>
                    <button nz-button nzType="primary" nzDanger class="margin-x" (click)="update()">Update</button>
                </div>
            </div>
        </form>
    </nz-card>

    <!-- for password visible/invisible icon -->
    <ng-template #suffixTemplate>
        <nz-icon class="ant-input-password-icon" [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible" />
    </ng-template>
</div>