<nz-modal [(nzVisible)]="isVisible" [nzWidth]="400" [nzTitle]="modalTitle" [nzOkText]="'Save'"
    [nzOkDisabled]="modalForm.invalid" [nzOkDanger]="true" (nzOnCancel)="handleCancel()" (nzOnOk)="handleSave()"
    [nzOkLoading]="isOkLoading">
    <form nz-form [formGroup]="modalForm" *nzModalContent>
        <div nz-row>
            <div nz-col [nzSpan]="24" class="margin-y">
                <div class="lb-start-date">
                    <div>
                        <nz-form-label nzFor="name" nzRequired>{{modalName}}</nz-form-label>
                    </div>
                    <div>
                        <input nz-input id="name" formControlName="name" class="input" placeholder="Enter name"/>
                        @if (getControl('name')?.invalid && (getControl('name')?.touched || getControl('name')?.dirty)) {
                            <span nz-typography nzType="danger">{{modalName.split(" ")[0]}} name is required.</span>
                        }
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="24" class="margin-y">
                <div class="lb-end-date">
                    <div>
                        <nz-form-label nzFor="description">Description</nz-form-label>
                    </div>
                    <div>
                        <textarea rows="4" nz-input id="description" formControlName="description" class="input" placeholder="Enter description"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</nz-modal>