<div class="container">
    <nz-card class="shadow">
        <div nz-row>
            <div nz-col nzSpan="20">
                <div nz-row>
                    <h5 nz-typography nz-col nzSpan="24">Email Setting</h5>
                    <div nz-col nzSpan="24" nz-typography nzType="secondary">You can configure the email setting setup.
                    </div>
                </div>
            </div>
            <div nz-col nzSpan="4" class="end">
                <div class="end" nz-typography nzType="danger">
                    <div>
                        <nz-icon nzType="edit" nzTheme="outline" class="margin-x" /> Edit
                    </div>
                </div>
            </div>
        </div>

        <form nz-form [formGroup]="emailSettingForm">
            <div nz-row [nzGutter]="16">
                <div nz-col [nzSpan]="12">
                    <div class="host-name">
                        <div>
                            <nz-form-label nzRequired>Host Name</nz-form-label>
                        </div>
                        <div>
                            <input type="text" nz-input placeholder="Enter host name" formControlName="hostName"
                                class="input" />
                        </div>
                    </div>
                    <div class="smtp-debug">
                        <div>
                            <nz-form-label nzRequired>SMTP Debug</nz-form-label>
                        </div>
                        <div>
                            <nz-select nzPlaceHolder="Please select" class="input" formControlName="smtpDebug">
                                <nz-option nzLabel="True" [nzValue]="true"></nz-option>
                                <nz-option nzLabel="False" [nzValue]="false"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div class="port">
                        <div>
                            <nz-form-label nzRequired>Port</nz-form-label>
                        </div>
                        <div>
                            <input type="number" nz-input placeholder="Enter port" formControlName="port" class="input" />
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="12">
                    <div class="email-address">
                        <div>
                            <nz-form-label nzRequired>Email Address</nz-form-label>
                        </div>
                        <div>
                            <input type="text" nz-input placeholder="Enter email address" formControlName="emailAddress"
                                class="input" />
                        </div>
                    </div>
                    <div class="pass-validate">
                        <div>
                            <nz-form-label nzRequired>Password Validate</nz-form-label>
                        </div>
                        <div>
                            <nz-select nzPlaceHolder="Please select" class="input" formControlName="passValidate">
                                <nz-option nzLabel="True" [nzValue]="true"></nz-option>
                                <nz-option nzLabel="False" [nzValue]="false"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div class="tls">
                        <div>
                            <nz-form-label nzRequired>TLS</nz-form-label>
                        </div>
                        <div>
                            <nz-select nzPlaceHolder="Please select" class="input" formControlName="tls">
                                <nz-option nzLabel="True" [nzValue]="true"></nz-option>
                                <nz-option nzLabel="False" [nzValue]="false"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>

                <div nz-col [nzSpan]="24" class="end margin-y">
                    <button nz-button nzType="default" class="margin-x" (click)="reset()">Cancel</button>
                    <button nz-button nzType="primary" nzDanger class="margin-x" (click)="update()">Update</button>
                </div>
            </div>
        </form>
    </nz-card>
</div>